[alias]
	a = add
	ac = !git add . && git commit -m 
	c = commit
	cm = commit -m 
	co = checkout
	p = push
	st = status -sb
	un = reset HEAD

[color]
	ui = auto

[user]
	email = <email>
	name = <name>
